@model Dictionary<DateTime, int>

<div id="archive-nav">
    @if (Model.Keys.Any())
    {
        <ul>
            @foreach (var date in Model.Keys)
            {
                <li>
                    @Html.ActionLink($"{date.ToString("yyyy-MM")} ({Model[date]})", "archive", "blog", new { year = date.Year, month = date.Month.ToString("00") }, null)</li>
            }
        </ul>
    }
</div>