@model IEnumerable<BlogMeta>

<div id="blogs-nav">
    @if(Model.Any()) {
        <ul>
            @foreach(var blogInfo in Model) {
                <li>
                    <a href="@blogInfo.Url" title="@blogInfo.Description">@blogInfo.Name</a>
                </li>
            }
        </ul>
    }
</div>