@model System.Collections.Generic.IEnumerable<Blaven.BlogInfo>

<div id="blogs-nav">
    @if(Model.Any()) {
        <ul>
            @foreach(var blogInfo in Model) {
                <li>
                    <a href="@blogInfo.Url" title="@blogInfo.Subtitle">@blogInfo.Title</a>
                </li>
            }
        </ul>
    }
</div>