@model System.Collections.Generic.IEnumerable<Cinteros.Web.Blogs.Website.Models.MenuItem>

<ul class="menu" id="menu-cinteros-standard">
@foreach(var item in Model) {
    <li class="menu-item menu-item-type-post_type">
        <a href="@item.Url" class="@item.Class">@Html.Raw(item.Text)</a>
    </li>
}
</ul>