@model System.Collections.Generic.Dictionary<string, int>

<div id="tags-nav">
    @if(Model.Keys.Any()) {
        <ul>
            @foreach(var kvp in Model) {
            <li>@Html.RouteLink(string.Format("{0} ({1})", kvp.Key, kvp.Value), "Tag", new { t = Url.Encode(kvp.Key.ToLowerInvariant()), })</li>
            }
        </ul>
    }
</div>