<?xml version="1.0"?>
<appSettings>
  <!-- Application Settings -->
  <add key="Blaven.BloggerSettingsPath" value="~/BloggerSettings.json" />
  <add key="Blaven.CacheTime" value="8" />
  <add key="Blaven.PageSize" value="5" />
  <add key="Blaven.RavenDbStoreUrlKey" value="RAVENHQ_CONNECTION_STRING" />
  <add key="Blaven.UseBackgroundService" value="false" />
</appSettings>