<?xml version="1.0"?>

<appSettings>
  <add key="webpages:Enabled" value="true" />
  <add key="webpages:Version" value="2.0.0.0" />

  <!-- Application Settings -->
  <add key="Blaven.BloggerSettingsPath" value="~/BloggerSettings.json" />
  <add key="Blaven.CacheTime" value="5" />
  <add key="Blaven.PageSize" value="5" />
  <add key="Blaven.RavenDbStoreUrlKey" value="RAVENHQ_CONNECTION_STRING" />
  <add key="Blaven.UseBackgroundService" value="false" />

  <!-- Values to be injected from AppHarbor -->
  <add key="Blaven.Blog.Username" value="blogs.cinteros" />
  <add key="Blaven.Blog.Password" value="dsf4dhb38" />
  <add key="RAVENHQ_CONNECTION_STRING" value="http://localhost:8080/databases/Cinteros.Web.Blogs.Website"/>
</appSettings>